<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Api Git</title>
    <style>
        .center {
         width: 500px;
         padding: 50px;
         margin: auto;
        }
    </style>
</head>
<body>
    <div class='center'>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Login</label>
            {{form.login}}
            <input type="submit" name="send" value="find" class="mt-2 btn btn-danger">
        </form>

        <p>Name: {{info_one.name}}</p>

        {% for item in info %}
            <p>- {{item.repos}}<br></p>
        {% endfor %}
    </div>
</body>
</html>